/* colors
   ========================================================================== */
.ur-transparent {
  background-color: transparent !important;
}

.white-text {
  color: #FFFFFF !important;
}

.red-text.text-lighten-2 {
  color: #E57373 !important;
}

.red-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.indigo-text.text-lighten-1 {
  color: #5c6bc0 !important;
}

.indigo-text.text-darken-4 {
  color: #1a237e !important;
}

.red.lighten-3 {
  background-color: #EF9A9A !important;
}

.red.lighten-3.overideable {
  background-color: #EF9A9A;
}

.red.lighten-2 {
  background-color: #E57373 !important;
}

.orange.lighten-5 {
  background-color: #fff3e0 !important;
}

.indigo.lighten-1 {
  background-color: #5c6bc0 !important;
}

.ur-bg-gradient-vrt {
  background-image: linear-gradient(#5c6bc0, #e57373) !important;
}

.ur-bg-gradient-hrz {
  background-image: linear-gradient(to right, #5c6bc0, #e57373) !important;
}

.ur-bg-gradient-2 {
  background-image: linear-gradient(#5c6bc0, #695bd2) !important;
}

/* fonts
   ========================================================================== */
h1 {
  font-family: Ubuntu, Roboto, sans-serif;
  font-size: 2em;
  font-weight: 500;
  font-kerning: auto;
  font-stretch: 130%;
  line-height: 1.4;
  color: #5c6bc0;
}

h2 {
  font-family: Ubuntu, Roboto, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  font-kerning: auto;
  font-stretch: 130%;
  /* doesn't work????? */
  line-height: 1.4;
  color: #1a247e;
}

b1 {
  font-family: Roboto, sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  font-kerning: auto;
  font-stretch: normal;
  /* doesn't work????? */
  line-height: 1.4;
  color: #1a247e;
}

b2 {
  font-family: Roboto, sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  font-kerning: auto;
  font-stretch: normal;
  /* doesn't work????? */
  line-height: 1.4;
  color: #1a247e;
}

/* not using as of now
btn {
  font-family: Roboto, sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  font-kerning: auto;
  font-stretch: 200%;
  doesn't work?????
line-height: 1.4;
color: #1a247e;
}*/
li a {
  color: #fff;
}

/* padding and float
   ========================================================================== */
.left-padding-1 {
  padding-left: 1rem;
}

.left-padding-4 {
  padding-left: 4.5rem;
}

.right-padding-1 {
  padding-right: 1rem;
}

.bottom-padding-1 {
  padding-bottom: 1rem;
}

/* icons and buttons
   ========================================================================== */
.float {
  z-index: 999 !important;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #EF9A9A;
}

input[type=range]+.thumb {
  background-color: #EF9A9A;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #5c6bc0, #e57373) !important
}

.custom400.material-icons {
  width: 20rem !important;
}

/* navbar, search input field, and chat input
   ========================================================================== */
.navbar-fixed {
  position: relative;
  height: 56px;
  z-index: 99;
}

.nav-wrapper {
  background-color: ;
  width: inherit;
}

.nav-wrapper .input-field input[type=search] {
  height: inherit;
  padding-left: 4rem;
}

/*make search icon white*/
.input-field .label[for=search] .material-icons {
  background-color: #fff !important;
  color: #fff !important;
}

.circle {
  width: 20vw;
}

.sidenav {
  width: 85vw;
  max-width: 20rem;
}

.navbar-stay-at-bottom {
  width: 100%;
  position: fixed;
  min-height: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.navbar-stay-at-bottom .chatBarBox {
  flex: 1;
}

.fake-navbar {
  top: 0;
  width: 100%;
  position: fixed;
  height: 56px;
}

/* column
   ========================================================================== */
.col {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.section {
  font-size: 16px;
}

.section.adding-1 {
  padding-bottom: 1.5rem;
}

/* cards
   ========================================================================== */
.card-image {
  max-height: 10rem;
  overflow: hidden;
}

.card-specific-post {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
}

.card-image-specific-post {
  max-height: 14rem;
  width: auto;
  overflow: hidden;
}

.card-content {
  padding: 24px;
  /*border-radius: 0 0 2px 2px;*/
}

.card .card-content p {
  margin: 10;
}

.front-page-logo {
  width: 17rem;
}

/* slides
   ========================================================================== */
.slider {
  position: relative;
  height: 50vh !important;
  width: 100%;
}

.slides {
  background-color: #9e9e9e;
  margin: 0;
  height: 45vh !important;
  z-index: 0;
}

.slider .indicators .indicator-item.active {
  background-color: #E57373;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.slider .indicators .indicator-item {
  background-color: #EF9A9A;
}

/* form
   ========================================================================== */
/* label color */
.input-field label {
  font-family: Roboto, sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  font-kerning: auto;
  font-stretch: normal;
  /* doesn't work????? */
  line-height: 1.4;
  color: #fff;
}

.input-field input {
  color: #5c6bc0 !important;
}

.input-field textarea {
  color: #5c6bc0 !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #EF9A9A !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #EF9A9A !important;
  box-shadow: 0 1px 0 0 #EF9A9A !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #5c6bc0 !important;
  box-shadow: 0 1px 0 0 #5c6bc0 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #B00020 !important;
  box-shadow: 0 1px 0 0 #B00020 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #EF9A9A !important;
}

/* valid color */
.input-field textarea[type=text].valid {
  border-bottom: 1px solid #5c6bc0 !important;
  box-shadow: 0 1px 0 0 #5c6bc0 !important;
}

/* invalid color */
.input-field textarea[type=text].invalid {
  border-bottom: 1px solid #B00020 !important;
  box-shadow: 0 1px 0 0 #B00020 !important;
}

.btn[disabled] {
  background-color: #DFDFDF !important;
}

/* messages
   ========================================================================== */
.message-container:first-of-type {
  border-top-width: 0;
}

.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #DFDFDF;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-container.visible {
  opacity: 1;
}

.message-container .pic {
  background-image: url('Images/g128.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}

.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}

.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #757575;
  font-size: 12px;
  box-sizing: border-box;
}

/*.message-text:first-child:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 3px -5px;
  -moz-transform-origin: 3px -5px;
  -ms-transform-origin: 3px -5px;
  -o-transform-origin: 3px -5px;
  transform-origin: 3px -5px;
  border-top-color: #2196f3 !important;
  border-right-color: #2196f3 !important;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-box-shadow: 2px -2px 4px -3px rgba(0, 0, 0, .4);
  box-shadow: 2px -2px 4px -3px rgba(0, 0, 0, .4);
  background-color: #2196f3
}

.message-text:not(:first-child) {
  margin-right: 2rem;
}*/

.message-text {
  display: flex;
  margin: 0rem 5rem 0rem 0rem;
}

.message-text p {
  padding: .5rem 1rem;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
}
