/* colors
   ========================================================================== */
.ur-transparent {
  background-color: transparent !important;
}

.white-text {
  color: #FFFFFF !important;
}

.red-text.text-lighten-2 {
  color: #E57373 !important;
}

.red-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.indigo-text.text-lighten-1 {
  color: #5c6bc0 !important;
}

.indigo-text.text-darken-4 {
  color: #1a237e !important;
}

.red.lighten-3 {
  background-color: #EF9A9A !important;
}

.red.lighten-3.overideable {
  background-color: #EF9A9A;
}

.red.lighten-2 {
  background-color: #E57373 !important;
}

.orange.lighten-5 {
  background-color: #fff3e0 !important;
}

.indigo.lighten-1 {
  background-color: #5c6bc0 !important;
}

.ur-bg-gradient-vrt {
  background-image: linear-gradient(#5c6bc0, #e57373) !important;
}

.ur-bg-gradient-hrz {
  background-image: linear-gradient(to right, #5c6bc0, #e57373) !important;
}

.ur-bg-gradient-2 {
  background-image: linear-gradient(#5c6bc0, #695bd2) !important;
}

/* fonts
   ========================================================================== */
h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-kerning: auto;
  /*line-height: 1rem;*/
  color: #5c6bc0;
}

h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  font-kerning: auto;
  color: #5c6bc0;
}

b1 {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-kerning: auto;
  font-stretch: normal;
  color: #5c6bc0;
}

b2 {
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  font-kerning: auto;
  font-stretch: normal;
  color: #5c6bc0;
}

li a {
  color: #fff;
}

/* padding and float
   ========================================================================== */
.left-padding-1 {
  padding-left: 1rem;
}

.left-padding-4 {
  padding-left: 4.5rem;
}

.right-padding-1 {
  padding-right: 1rem;
}

.bottom-padding-1 {
  padding-bottom: 1rem;
}

.float {
  z-index: 999 !important;
}

/* icons and buttons
   ========================================================================== */
input[type=range]::-webkit-slider-thumb {
  background-color: #5c6bc0;
}

input[type=range]+.thumb {
  background-color: #e57373;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #5c6bc0, #e57373) !important
}

.custom400.material-icons {
  width: 20rem !important;
}

/* navbar, search input field, and chat input
   ========================================================================== */

.nav-wrapper .input-field input[type=search] {
  height: inherit;
  padding-left: 4rem;
}

/*make search icon white*/
.input-field .label[for=search] .material-icons {
  background-color: #fff !important;
  color: #fff !important;
}

.circle {
  width: 20vw;
}

.sidenav {
  width: 85vw;
  max-width: 20rem;
}

.navbar-stay-at-bottom {
  width: 100%;
  position: fixed;
  min-height: 70px;
  padding: 0 !important;
  margin: 0 !important;
  bottom: 0;
  display: block;
  flex-direction: row;
}

.navbar-stay-at-bottom .chatBarBox {
  flex: 1;
}

.fake-navbar {
  top: 0;
  width: 100%;
  position: fixed;
  height: 65px;
  z-index: 1000;
}

/* column
   ========================================================================== */
.col {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.col.s1.no-padding {
  padding: 0 !important;
}

.section {
  font-size: 16px;
}

.section.adding-1 {
  padding-bottom: 1.5rem;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row .col.no-bottom-margin {
  margin-bottom: 0;
  padding 0;
}

/* cards
   ========================================================================== */
.card-image {
  max-height: 15rem;
  overflow: hidden;
}

.card-specific-post {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
}

.card-content {
  padding: 24px;
  /*border-radius: 0 0 2px 2px;*/
}

.card .card-content p {
  margin: 10;
}

.front-page-logo {
  width: 17rem;
}

/* slides
   ========================================================================== */
.slider {
  position: relative;
  height: 50vh !important;
  width: 100%;
}

.slides {
  background-color: #9e9e9e;
  margin: 0;
  height: 45vh !important;
  z-index: 0;
}
/*
.slider .indicators .indicator-item.active {
  background-color: #E57373;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.slider .indicators .indicator-item {
  background-color: #EF9A9A;
}

/* form
   ========================================================================== */
/* label color */
.input-field label {
  font-family: Ubuntu, sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  font-kerning: auto;
  font-stretch: normal;
  /* doesn't work????? */
  line-height: 1.4;
  color: #fff;
}

/*post stuff, not sure if its somewhere else already*/
.postCon {
  opacity: 0;
  position: relative;
  top: 12rem;
  transition: opacity 0.5s ease-in-out, top 0.5s cubic-bezier(0.12, 0.46, 0.33, 1.32);
}

.postCon.visible {
  position: relative;
  top: 0rem;
  opacity: 1;
}

#page-post {
    height: 100%;
    overflow: auto;
    position: relative;
}

/* messages
   ==========================================================================*/
.message-container {
  display: flex;
  margin: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message-container.visible {
  opacity: 1;
}

.message-container .pic {
  background-image: url('/app/img/preload.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}

.message-container .message {
  background-color: #fff;
  border-radius: 20px;
}

.message-container .message-text {
  padding: .5rem 1rem;
  overflow-wrap: break-word;
  color: #5c6bc0;
}

.message-container .message .message-image {
  border-radius: 20px;
}

.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  font-size: 12px;
  box-sizing: border-box;
}

.chatUserListElement{
  border: unset;
}

/*miscelaneous================================================================*/
.pre_loader{
  opacity: 1;
  top: 0%;
  transition: opacity 0.5s ease-in-out, top 0.5s cubic-bezier(0.12, 0.46, 0.33, 1.32);
}
.pre_loader.fade{
  opacity: 0;
    top: -80%;
}
#mainBody{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#messages{
      height: calc(100% - 56px -  65px);
      overflow-y: auto;
      overflow-x: hidden;
}
